{% extends 'common_template.html' %}
{% block content  %}
    <div id="content">
      <div id="left">
        <div class="paddingbox">
          <h1>About Us</h1>
          <p>&nbsp;</p>
          <p><img src="images/pic06.jpg" alt="" width="210" height="144" class="leftimg" /><strong>Duis autem vel eum iriure dolor in hendrerit in vulputate</strong><br />
            Velit esse molestie consequat, vel illum dolore eu feugiat nula facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. doming id quod. mazim placerat facer possim assum vel eum iriure dolor in hendrerit in vulputate velit.</p>
          <p>&nbsp;</p>
          <p>Velit esse molestie consequat, vel illum dolore eu feugiat nula facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. doming id quod. mazim placerat facer possim assum vel eum iriure dolor in. hendrerit in vulputate velit esse molestie cons. </p>
          <p>&nbsp;</p>
          <p>Equat, vel illum dolore eu feugiat nulla facilisis at vero autem vel eum iriure dolor in hendrerit in vulputate. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nula facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. </p>
          <p>&nbsp;</p>
          <p>Equat, vel illum dolore eu feugiat nulla facilisis at vero autem vel eum iriure dolor in hendrerit in vulputate doming id quod. mazim placerat facer possim assum vel eum iriure dolor in hendrerit in vulputate. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. doming id quod. mazim placerat facer possim assum vel eum iriure dolor in. hendrerit in vulputate velit esse molestie cons. </p>
        </div>
      </div>
      <div id="right">
        <div class="paddingrightbox">
          <h1>Browse Listings</h1>
          <div id="listing">
            <p>
              <label>
                <select name="select" id="select">
                  <option>$100,000 - $1500,000</option>
                </select>
              </label>
              <img src="images/view.png" alt="" width="56" height="32" align="top" /></p>
            <p>
              <label>
                <select name="select" id="select">
                  <option>Four Bedroom</option>
                </select>
              </label>
              <img src="images/view.png" alt="" width="56" height="32" align="top" /></p>
              <p>
                <label>
                  <select name="select" id="select">
                    <option>Apartment</option>
                  </select>
                </label>
                <img src="images/view.png" alt="" width="56" height="32" align="top" /></p>
              <p>
                <label>
                  <select name="select" id="select">
                    <option>1000 - 1500 sf</option>
                  </select>
                </label>
                <img src="images/view.png" alt="" width="56" height="32" align="top" /></p>
              <p>
                <label>
                  <input name="textfield" type="text" id="textfield" value="Search your property" />
                </label>
              <img src="images/view.png" alt="" width="56" height="32" align="top" /></p>
          </div>
          
        </div>
        <div class="line"></div>
        <div class="paddingrightbox">
          <h1>About Us</h1>
          <p>&nbsp;</p>
          <p><span class="browntext">Lorem ipsum iriure dolor in hendrerit</span><br />
            Feugiat nula facilisis at vero eros et accumsan et iusto odio dignissim qui <br />
            blandit praesent luptatum il. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. doming id quod. <br />
            mazim placerat facer possim assum velum iriure dolor in hendrerit in vulputa velit. </p>
        </div>
        <div class="line"></div>
        <div class="paddingrightbox">
          <h1>Latest News</h1>
          <p>&nbsp;</p>
          <p><span class="browntext">Lorem ipsum iriure dolor in hendrerit</span><br />
            Feugiat nula facilisis at vero eros et accumsan et iusto odio dignissim qui <br />
            blandit praesent luptatum il. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdie. doming id quod. <br />
            mazim placerat facer possim assum velum iriure dolor in hendrerit in vulputa velit. </p>
        </div>
      </div>
    </div>
   
{% endblock %}
